.Upload-body {
  .Upload-body-title {
    margin-top: 2rem;
    font-size: 16px;
    text-align: center;
    > hr {
      width: 50%;
      margin: auto;
    }
  }
  .Upload-body-videos {
    .Upload-video {
      border-radius: 5px;
      &:hover {
        background-color: rgb(190, 207, 233);
        cursor: pointer;
      }
      padding: 8px;
      display: flex;

      .Upload-video-img {
        width: 180px;
        height: 130px;
        margin: 2px;
        margin-right: 2.5rem;
        > img {
          height: 100%;
          width: 100%;
        }
      }
      .Upload-video-desc {
        text-align: left;

        width: 70%;
        align-self: flex-end;
        margin: 0 auto;
        margin-top: -1rem;
        .Upload-video-title {
          font-size: 20px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.uMarginHor {
  &:hover {
    color: #3f51b5;
  }
}
