.Subvideo-parent {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.Subscriptions-title {
  text-align: center;
  font-size: 30px;
}
